<a href="https://colab.research.google.com/github/shwetathikekar/python_programmimng/blob/main/PythonProgramming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Need of Programming**

We need programming to automate the machine. Machine will do the things very effectively, accuracy is more as comapare to human and also it save time and effort of human.  

Example: Used for web application, mobile application, games etc.

# **Computer Languages**

**Low Level Language**

1.   Machine language
2.   Assembly Language

**High Level Language**
 
1.   Object Oriented Programmimg Language 
2.   Visual Programming Language

# **Low Level language**

A language that corresponds to a specific language

**1. Machine Language**

Its low level programming language which basically used 0's and 1's for programming that's why we can say this language directly interpreted into the hardware

**Advantages**

*   Transaltion Free
*   High Speed

**Disadvantages**

*   Hard to find error (program written in machine code)
*   Time consuming

**2. Assembly Language**

Its low level programming language. As compare to machine language it's slightly more user friendly language that directly corresponds to machine language.

It used **Assembler** which is program to translate assembly language instruction into a machine language. 

**Advantages**

*   Easy to understand
*   Easy to used
*   Easy to locate and correct error

**Disadvantages**

*   Machine dependent
*   Hard to learn (^)
*   Less efficient (more execution time and assembler needed)

# **High Level Language**

Any language that is independent of the machine

**1. Object Oriented Programming Language**

Its high level programming language and machine independent. It contain english words and symbols. Specified rules are followed while writing the program


It used **Compiler** which is program to translate source code to object code [machine code]. If any error found it display on screen.

It used **Interpreter** which is program to translate source code to object code [machine code]. It translate program in line by line manner and it execute it immediately before translating the next statement. If any error found execution of program is halted and error get display on screen.


**Advantages**

*   Readability
*   Machine independent
*   Easy debugging

**Disadvantages**

* Less Efficient
  *   Translation process
  *   More memory
  *   More execution time

**2. Visual Programming Language**

Language that that are not text based. These programmimng language are designed for building windows based application

# **Overview of Python**

*   General Purpose Programming Language
*   High Level Programming Language
*   Interactive
*   Interpreted
*   Object Oriented Scripting Language 

Developed by **GUIDO VAN ROSSUM** in late 1980s and early 1990s


*   Some other language information

 * **C** Developed by **Dennis Ritchie** in 1972

 * **C++** Developed by **Bjarne Stroustrup** in 1980

 * **Java** Developed by **Jame Gosling** in 1995

Python derived from many other labguages including ABC, Modula-3, C, C++, Algol-68, SmallTalk and Unix Shell and other scripting languages

# **Python Features**

*   Easy to learn
*   Easy to read
*   Easy to maintain
*   Standard library which are easy to understand and portable
*   Interactive mode - Interractive testibg and debugging of snippets of code
*   Portable
*   Extendable - We can add low level modules to the python interpreter. This  module enable programmer to add to or customize their tools to be more efficient.
*   Database - Python provide interfaces to all major commercial database
*   GUI Programming 
*   Scalable - Provide better structure and support for large programming than shell scripting 

**Google, Facebook, Instagram, Spotify, Ouora, Netflix, Dropbox, Reddit are some popular oraganizations which are using python**

# **Python Application in Various Domain**

*   Web and internet development
*   Scientific and numeric
*   Education
*   Desktop GUIs
*   Software Develpment
*   Business application

**OFFICIAL WEBSITE FOR MORE INFO:** https://www.python.org/

# **Comments in Python**

Single line comment

        #This is single line comment

  Multiple line comment

        '''
              This is single line comment
        '''

# **Variable**

Variable are containers for storing data values. In python we don't declared variable to create we have to assign value to it. 

Also after seting it we can change the type of variable. To get data type used type() function.

In [ ]:
# Python is case sensitive

Name = "shweta"
name = 'shweta' # we can used single or double cotes for string


num = 10
num2 = 10.5

print(Name, name, num, num2)

Name = "Shweta Thikekar"

print(Name)

x = str(3) # STRING
y = int(3) # NUMBER
z = float(3) # FLOAT 3.0

print(x,y,z)

# To get data type used type() function

print(type(x), type(y), type(z))

shweta shweta 10 10.5
Shweta Thikekar
3 3 3.0
<class 'str'> <class 'int'> <class 'float'>

# **Some Rules**

A variable can have a short name or a more descriptive name(age,total)

*   Start with letter or underscore
*   Can not start with number
*   Only contain alpha-numeric and umderscore
*   Names are case sensitive

Some Techniques:

*   Camel Case: myVariableName = "shweta" 
*   Pascal Case:  MyVariableName = "shweta"
*   Snake Case:  My_Variable_Name = "shweta"

Also we can assign mutiple values to different variable or one value to multiple variables.

In [ ]:
x, y, z = 10, 20, 30

print (x,y,z)

x=y=z=10

print (x,y,z)

# Unpacking 

fruits = ["Apple" , "Banana" , "Cherry"]

x, y, z = fruits

print (x,y,z)

# Concatenation

a = 'Shweta'
b = "Thikekar"
c = 10
d = 20

print(a + " " + b)  # for space in between 

print(c+d)

# print(a+d) # TypeError: can only concatenate str (not "int") to str

10 20 30
10 10 10
Apple Banana Cherry
Shweta Thikekar
30

# **Global and Local Variabl**e

In [ ]:
x = "Hello" # Global Variable

def demo():
  x = "Bye" # Local Variable
  print(x)

demo()
print(x)

# By using Global keyword

print("By using Global keyword")

x = "Hello" # Global Variable

def demo():
  global x
  x = "Bye" # Local Variable
  print(x)

demo()
print(x)

Bye
Hello
By using Global keyword
Bye
Bye

In [ ]:
a = 1.1 + 2.2

print(a==3.3)

False

In [ ]:
t = -10

a = 1.1 + 2.2

abs(a - 3.3) < t

False

# **Operands and Expression**

a = 10
b = 20

a+b

In this case, the  + operator add the oprends a and b together. 

A sequence of operands and operators like a+b+5 is called an expression.

# **Arithmetic Operator**

In [3]:
#  9 Arithmetic Operators

a = 10
b = 20

print("Unary Positive", +a) # Unary Positive

print("Unary Negation", -a) # Unary Negation

print("Addition", a+b) # Addition

print("Subtraction", a-b) # Subtraction

print("Multiplication", a*b) # Multiplication

print("Division", a/b) # Division

print("Module", a%b) # Module

print("Floor Division", a//b) # Floor Division

print("Exponetiation", a**b) # Exponetiation

Unary Positive 10
Unary Negation -10
Addition 30
Subtraction -10
Multiplication 200
Division 0.5
Module 10
Floor Division 0
Exponetiation 100000000000000000000

#**Comparison Operator**

In [6]:
# Comparison Operator

a = 10
b = 20

print("Equal to: ", a==b) # Equal to

print("Not equal to: ", a!=b) # Not equal to

print("Greater than:", a>b) # Greater than

print("Greater than equal to:", a>=b) # Greater than equal to

print("less than:", a<b) # less than

print("less than equal to:", a<=b) # less than equal to

Equal to:  False
Not equal to:  True
Greater than: False
Greater than equal to: False
less than: True
less than equal to: True

# **Equality comparison on floating point values**

The value stored internally for a float object may not be precisely what you’d think it would be.

For that reason, it is poor practice to compare floating-point values for exact equality.

In [7]:
x = 1.1 + 2.2

print (x == 3.3)

False

The internal representations of the addition operands are not exactly equal to 1.1 and 2.2, so you cannot rely on x to compare exactly to 3.3.

The preferred way to determine whether two floating-point values are “equal” is to compute whether they are close to one another, given some tolerance.

In [8]:
tolerance = 0.00001 # give any name to value
x = 1.1 + 2.2
abs(x - 3.3) < tolerance

True

# **Logical Operator**

1.   Logical expression involving boolean operands
2.   Evalution of non-boolean value in boolean context

1. Logical expression involving boolean operands

In [14]:
a = 10 
b = 20
c = 30
d = 40

# 1) not 

print("not operator:", not a > 20) # execute a > 20 then not it

# 2) or

print("or operator:", a>b or c>d)

# 3) and

print("and operator:", a<b and c<d)

not operator: True
or operator: False
and operator True

2. Evalution of non-boolean value in boolean context

      You can determine the “truthiness” of an object or expression with the   built-in bool() function. bool() returns True if its argument is truthy and False if it is falsy.

In [35]:
'''
1) Numeric Value

A zero value is false.
A non-zero value is true.
'''

print("1) Numeric Value\n")

print(bool(0),bool(0.0),bool(0.0+0j))

print(bool(-3),bool(4.4),bool(1.1+4j),"\n")


'''
2) String

An empty string is false.
A non-empty string is true.
'''

print("2) String\n")

print(bool(''), bool(""), bool(""""""))


print(bool('foo'), bool(" "), bool(''' '''),"\n")

'''
3) Built-In Composite Data Object
Python provides built-in composite data types called list, tuple, dict, and set. 
These are “container” types that contain other objects. 
An object of one of these types is considered false if it is empty and true if it is non-empty.
'''

print("3) Built-In Composite Data Object\n")

print(type([]))

print(bool([]))


print(type([1, 2, 3]))

print(bool([1, 2, 3]),"\n")

# None Keyword

print("None keyword:", bool(None))

1) Numeric Value

False False False
True True True

2) String

False False False
True True True

3) Built-In Composite Data Object

<class 'list'>
False
<class 'list'>
True

None keyword: False